* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  color: #00775B; }

.container {
  max-width: 1000px;
  position: relative;
  /* width: 100% lo reemplaza flex:1; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit; }

.header {
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .header {
      display: block;
      height: auto;
      padding: 1em 0;
      position: inherit; }
      .header .logo {
        text-align: left;
        margin-left: 1rem; } }

.burger-button {
  border-radius: 50%;
  display: none;
  background-color: transparent;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  z-index: 20;
  right: 1em;
  top: 5px;
  color: #009471; }
  .burger-button .icon-Menu {
    color: #009471;
    font-size: 30px; }
  @media only screen and (max-width: 767px) {
    .burger-button {
      display: block; } }

figure {
  margin: 0; }

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */ }

.menu {
  height: inherit; }
  @media only screen and (max-width: 767px) {
    .menu {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100vw;
      z-index: 10;
      right: -100vw;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .8s; }
      .menu.is-active {
        right: 0; } }
  .menu__lista {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit; }
    @media only screen and (max-width: 767px) {
      .menu__lista {
        display: block; } }
  .menu__item {
    height: inherit; }
    @media only screen and (max-width: 767px) {
      .menu__item {
        height: 88px; } }
  .menu__link {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #009471;
    font-size: 0.875rem; }
    @media only screen and (max-width: 767px) {
      .menu__link {
        justify-content: center;
        font-size: 2em;
        text-decoration: none;
        margin-bottom: .5em; } }
  .menu__link:hover {
    color: #00775B;
    font-weight: 500; }

.hero {
  background-image: url(../img/Hero.jpg);
  height: 570px;
  background-size: cover;
  background-position: right bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 6px 8px rgba(0, 32, 25, 0.4); }
  @media only screen and (max-width: 992px) {
    .hero {
      height: 400px; } }
  @media only screen and (max-width: 767px) {
    .hero {
      background-image: url(../img/hero768.png);
      height: 350px; } }
  @media only screen and (max-width: 425px) {
    .hero {
      height: 350px;
      width: 100vw; } }
  @media only screen and (max-width: 375px) {
    .hero {
      height: 250px; } }
  .hero__text {
    color: #009471;
    width: 66%;
    margin-left: 2.4rem; }
    @media only screen and (max-width: 992px) {
      .hero__text {
        width: 55%;
        margin-left: 2rem; } }
    @media only screen and (max-width: 767px) {
      .hero__text {
        align-self: flex-end;
        width: 70%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 425px) {
      .hero__text {
        width: 100%;
        margin-bottom: .4rem; } }
    @media only screen and (max-width: 375px) {
      .hero__text {
        width: 80%;
        margin-bottom: 1rem;
        margin-left: 1rem; } }
  .hero__titulo1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem; }
    @media only screen and (max-width: 992px) {
      .hero__titulo1 {
        font-size: 3.2rem;
        line-height: 3.2rem; } }
    @media only screen and (max-width: 425px) {
      .hero__titulo1 {
        font-size: 2.8rem;
        line-height: 2.7rem; } }
    @media only screen and (max-width: 375px) {
      .hero__titulo1 {
        font-size: 1.9rem;
        line-height: 2rem; } }
  .hero__icono--Down {
    background-color: #009471;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    color: #ffffff;
    display: block;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 767px) {
      .hero__icono--Down {
        display: none; } }

.portafolio {
  text-align: center;
  padding: 4rem 0; }
  @media only screen and (max-width: 992px) {
    .portafolio {
      padding: 3rem 1rem; } }
  .portafolio__text {
    width: 82%;
    margin: 0 auto; }
  .portafolio__trabajos {
    margin-top: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr); }
    @media only screen and (max-width: 767px) {
      .portafolio__trabajos {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 425px) {
      .portafolio__trabajos {
        grid-template-columns: 1fr; } }
  .portafolio__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%; }
  .portafolio__presentacion {
    text-align: left;
    padding: 0.5rem 1rem; }
  .portafolio__img {
    width: 100%;
    box-shadow: 0px 6px 8px rgba(0, 32, 25, 0.4); }
  .portafolio__text-short {
    color: #002019;
    text-align: left;
    line-height: 21px; }
  .portafolio .boton {
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 2rem auto;
    border-radius: 1.4rem;
    background-color: #F5460C;
    color: #ffffff; }

.titulo2 {
  font-size: 2.5rem;
  line-height: 40px;
  font-weight: 500; }
  @media only screen and (max-width: 992px) {
    .titulo2 {
      font-size: 2.1rem; } }

.parrafo1 {
  font-size: 1rem;
  padding-top: 1rem;
  line-height: 21px;
  color: #002019; }

.titulo3 {
  font-size: 2rem;
  font-weight: 400;
  columns: #002019; }
  @media only screen and (max-width: 992px) {
    .titulo3 {
      font-size: 1.6rem;
      line-height: 2.5rem; } }

.clientes {
  background-color: #00B389;
  padding: 2rem 4rem;
  text-align: center; }
  .clientes__grupo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px; }
    @media only screen and (max-width: 425px) {
      .clientes__grupo {
        grid-template-columns: 1fr; } }
  .clientes__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 425px) {
      .clientes__item {
        margin-bottom: 2rem; } }
  .clientes__icono {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 6px 8px rgba(0, 32, 25, 0.4); }

.titulo2--color {
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 2rem; }

.parrafo1--color {
  color: #ffffff; }

.boton-link {
  text-decoration: none; }

.footer {
  padding: 2rem 0;
  background-color: #ffffff;
  text-align: center;
  display: grid;
  max-height: 150px;
  grid-template-rows: repeat(2, 1fr); }
  .footer__grupoSocialMedia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem; }
  .footer__item {
    width: 38px;
    height: 38px;
    line-height: 42px;
    border-radius: 50%;
    margin: 0 1rem;
    background: linear-gradient(-48deg, #00B389, #5CCEB3); }
  .footer__icono {
    font-size: 1.2rem;
    color: #ffffff; }

.acerca {
  position: relative;
  height: auto;
  background-color: darkkhaki; }
  .acerca__img {
    width: 630px;
    height: auto; }
  .acerca__textPrincipal {
    width: 640px;
    height: 270px;
    padding: 1rem 3rem;
    background-color: #ffffff;
    position: absolute;
    bottom: 2rem;
    left: 40%; }

/*# sourceMappingURL=style.css.map */
