* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  padding: 0; }

.parrafo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #002019; }
  @media only screen and (max-width: 1480px) {
    .parrafo {
      font-size: 1em;
      line-height: 1.25rem; } }

.container {
  max-width: 1600px;
  position: relative;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit; }
  @media only screen and (max-width: 1480px) {
    .container {
      max-width: 1200px; } }
  @media only screen and (max-width: 1366px) {
    .container {
      max-width: 1000px; } }
  @media only screen and (max-width: 1024px) {
    .container {
      max-width: 94%; } }

.principal {
  width: 100%;
  background-size: cover;
  height: 886px; }

.button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 1480px) {
    .button {
      width: 30px;
      height: 30px; } }
  @media only screen and (max-width: 767px) {
    .button {
      display: none; } }

.header {
  background-color: transparent;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .header {
      display: block;
      height: auto;
      padding: 1em 0;
      position: inherit; } }

.logo {
  text-align: left;
  margin-left: 1rem; }

.burger-button {
  border-radius: 50%;
  display: none;
  background-color: transparent;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  z-index: 20;
  right: 1em;
  top: 5px;
  color: #009471; }
  .burger-button .icon-Menu {
    color: #009471;
    font-size: 30px; }
  @media only screen and (max-width: 767px) {
    .burger-button {
      display: block; } }

figure {
  margin: 0; }

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */ }

.menu {
  height: inherit; }
  @media only screen and (max-width: 767px) {
    .menu {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100vw;
      z-index: 10;
      right: -100vw;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .8s; }
      .menu.is-active {
        right: 0; } }
  .menu__lista {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: inherit; }
    @media only screen and (max-width: 767px) {
      .menu__lista {
        display: block; } }
  .menu__item {
    height: inherit; }
    @media only screen and (max-width: 767px) {
      .menu__item {
        height: 76px; } }
  .menu__link {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #009471;
    font-size: 0.8rem; }
    @media only screen and (max-width: 767px) {
      .menu__link {
        justify-content: center;
        font-size: 2em;
        text-decoration: none;
        margin-bottom: .5em; } }
  .menu__link:hover {
    color: #00775B;
    font-weight: 500; }

.hero {
  background-image: url(../img/hero.jpg);
  height: 886px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 0 16px 24px rgba(0, 32, 25, 0.2); }
  @media only screen and (max-width: 1480px) {
    .hero {
      height: 560px;
      box-shadow: 0 8px 16px rgba(0, 32, 25, 0.2); } }
  @media only screen and (max-width: 767px) {
    .hero {
      height: 400px; } }
  @media only screen and (max-width: 425px) {
    .hero {
      height: 250px; } }
  .hero__text {
    margin-left: 10rem;
    width: 800px; }
    @media only screen and (max-width: 1480px) {
      .hero__text {
        margin-left: 4rem;
        width: 56%; } }
    @media only screen and (max-width: 1366px) {
      .hero__text {
        width: 650px; } }
    @media only screen and (max-width: 1024px) {
      .hero__text {
        margin-left: 1rem; } }
    @media only screen and (max-width: 767px) {
      .hero__text {
        width: 68%;
        align-self: flex-end;
        margin-bottom: 2rem;
        margin-left: 2rem; } }
    @media only screen and (max-width: 425px) {
      .hero__text {
        width: 85%;
        align-self: flex-end;
        margin-bottom: 1rem;
        margin-left: 1rem; } }
    @media only screen and (max-width: 375px) {
      .hero__text {
        width: 90%; } }
  .hero__saludo {
    font-size: 1.25rem;
    color: #009471; }
    @media only screen and (max-width: 1024px) {
      .hero__saludo {
        font-size: 1rem; } }
  .hero .button--down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    background-color: #00B389; }
  .hero__icon {
    font-size: 2rem;
    color: #ffffff; }
    @media only screen and (max-width: 1480px) {
      .hero__icon {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 1024px) {
      .hero__icon {
        font-size: 1rem; } }

.titulo1 {
  font-size: 4.75rem;
  line-height: 4.5rem;
  color: #00775B;
  font-weight: 600; }
  @media only screen and (max-width: 1480px) {
    .titulo1 {
      font-size: 4rem;
      line-height: 3.8rem; } }
  @media only screen and (max-width: 1024px) {
    .titulo1 {
      font-size: 3.5rem;
      line-height: 3.2rem; } }
  @media only screen and (max-width: 767px) {
    .titulo1 {
      font-size: 3rem; } }
  @media only screen and (max-width: 425px) {
    .titulo1 {
      font-size: 2rem;
      line-height: 1.9rem; } }

.portafolio {
  padding: 4rem 0;
  text-align: center; }
  @media only screen and (max-width: 1366px) {
    .portafolio {
      padding: 3rem 0; } }
  .portafolio__grupo {
    display: grid;
    grid-gap: 6rem 1rem;
    grid-template-columns: repeat(4, 1fr); }
    @media only screen and (max-width: 1480px) {
      .portafolio__grupo {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4rem 1rem; } }
    @media only screen and (max-width: 1366px) {
      .portafolio__grupo {
        grid-gap: 1rem; } }
    @media only screen and (max-width: 1024px) {
      .portafolio__grupo {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 6rem 2rem; } }
    @media only screen and (max-width: 767px) {
      .portafolio__grupo {
        grid-gap: 2.5rem 1.5rem; } }
    @media only screen and (max-width: 425px) {
      .portafolio__grupo {
        grid-template-columns: 1fr;
        grid-gap: 4rem; } }
    @media only screen and (max-width: 375px) {
      .portafolio__grupo {
        grid-template-columns: 1fr;
        grid-gap: 1rem; } }

.cajaTexto {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 1480px) {
    .cajaTexto {
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 767px) {
    .cajaTexto {
      max-width: 90%;
      margin: auto;
      margin-bottom: 3rem; } }

.titulo2 {
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 500;
  color: #00775B; }
  @media only screen and (max-width: 1366px) {
    .titulo2 {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 425px) {
    .titulo2 {
      line-height: 2.5rem; } }

.titulo3 {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #00775B; }

.cajaTrabajo {
  width: 100%;
  height: 346px;
  text-align: left;
  text-decoration: none; }
  .cajaTrabajo__imagen {
    width: 100%;
    height: auto;
    box-shadow: 0px 2px 8px rgba(0, 32, 25, 0.5); }
  .cajaTrabajo__texto {
    position: relative;
    padding-left: 1rem; }
    .cajaTrabajo__texto:before {
      content: "";
      display: block;
      height: 0;
      width: 4px;
      position: absolute;
      background-color: #00775B;
      top: 15%;
      left: 0;
      transition: all .4s; }
    .cajaTrabajo__texto:hover:before {
      height: 80%; }

.clientes {
  background-color: #00B389;
  padding: 2rem 0;
  text-align: center; }
  @media only screen and (max-width: 1366px) {
    .clientes {
      padding: 3rem 0; } }
  .clientes__grupo {
    display: grid;
    margin: 0 auto;
    width: 60%;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem; }
    @media only screen and (max-width: 767px) {
      .clientes__grupo {
        width: 70%; } }
    @media only screen and (max-width: 425px) {
      .clientes__grupo {
        margin-top: 4rem;
        grid-template-columns: 1fr; } }

.titulo2--color {
  color: #ffffff;
  font-weight: 300; }

.itemCliente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .itemCliente {
      justify-content: flex-start; } }
  @media only screen and (max-width: 425px) {
    .itemCliente {
      margin-bottom: 4rem; } }
  .itemCliente__icono {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 1366px) {
      .itemCliente__icono {
        width: 60px;
        height: 60px; } }
    @media only screen and (max-width: 767px) {
      .itemCliente__icono {
        width: 80px;
        height: 80px; } }
  .itemCliente__empresa {
    color: #ffffff; }

.footer {
  background-color: #ffffff;
  padding: 3rem 0;
  margin: auto; }
  .footer__redeSociales {
    width: 20%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .footer__rsItem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-45deg, #5CCEB3, #00B389); }
  .footer__icono {
    width: 50px;
    height: 50px;
    color: #ffffff; }

.logo--footer {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
