.acerca{
    position: relative;
    height:auto;
    background-color: darkkhaki;
    &__img{
        width: 630px;
        height: auto;
    }
    &__textPrincipal{
        width: 640px;
        height: 270px;
        padding: 1rem 3rem;
        background-color: $color8;
        position: absolute;
        bottom:2rem;
        left: 42%;
    }
}