.acerca{
    background-color: darkmagenta;
    height: 570px;
    position: relative;

    &__img{
        height:100%;
        object-fit: cover;
        object-position: left center;
    }
    &__textPrincipal{
        position: absolute;
        width: 640px;
        top:50%;
        left: 41%;
        bottom: 2rem;
        background-color:$color8;
        padding: 2rem 3rem 2.3rem;
    }

}