.acerca{
   position: relative;
   &__imagen{
       position: absolute;
       height: 100%;
       top:0;
       left:0;
   }
   &__text{
      position: absolute;
      background-color: $color8;
      width: 930px;
      padding: 2rem;
      bottom: 4rem;
      left:45%;
   }
}