.conocimiento{
    padding: 3rem 0;
}
.caracteristicas{
    display: grid;
    grid-template-columns:1fr 1.5fr 2fr;
    grid-gap:0 4rem;
    @include media(desktop-m){
        margin-left:.8rem;
    }
    @include media(desktop-s){
        margin-left:2rem;
    }
    @include media(tablet){
        margin-top:14rem;
        grid-gap:2rem;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
    }
    @include media(phone-m){
        grid-template-columns: 1fr;
        grid-gap:1rem;
    }
    &__indiv{
        margin:1rem 0;
    }

 }
 .text-short{
     line-height: 21px;
     columns: $color4;
 }
 .text-short-interlineado{
    padding-bottom: .4rem;
 }
 .titulo4{
     font-weight: 600;
     line-height: 28px;
 }