.clientes{
    padding: 2rem 0;
    background-color: forestgreen;
    text-align: center;
    &__grupo{
        background-color: gold;
        display: grid;
       margin: 0 auto;
        width:50%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1rem;
    }
}
.titulo2--color{
    color:$color8;
}