.clientes{
    background-color: $color2;
    padding:2rem;
    text-align: center;
    &__grupo{
        background-color: cyan;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}
.titulo2--color{
    color:$color8;
    font-weight: 400;
    padding-bottom: 2rem;
}