.clientes{
    background-color: $color2;
    padding:2rem;
    text-align: center;
    &__grupo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:30px
    }
    &__item{
        display: flex;
        flex-direction: column;
        background-color: darkgoldenrod;
        justify-content: center;
        align-items: center;
    }
    &__icono{
        width: 80px;
        height: 80px;
        background-color: $color8;
        
    }
}
.titulo2--color{
    color:$color8;
    font-weight: 400;
    padding-bottom: 2rem;
}