.contacto{
    height: 680px;
    text-align: center;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-image: linear-gradient(113deg, $color5, $color2);
    @include media(desktop-l){
        height: 600px;
    }
    &__formulario{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        @include media(desktop-l){
            padding: 0 4rem;
        }
        @include media(desktop-m){
            padding: 0 2rem;
        }
       
        
    }
    &__imagen{
        width:auto;
        height:100%;
        background-position: center;
    }
}
.form{
    width:840px;
    @include media(desktop-l){
        width: 780px;
    }
    @include media(desktop-m){
        width: 440px;
       
    }
    
   
    &__grupo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1rem;
        @include media(desktop-m){
            grid-template-columns: 1fr;
            grid-gap:.2rem;
        }
    }
    &__individual{
        padding:.8rem 0;
        @include media(desktop-m){
            padding:.2rem 0;
        } 
        >label, input{
            width:100%;
            height: 34px;
            text-align: left;
            border: none;
            border-radius:8px;
            padding: .2rem;
            display:inline-block;
        }
        >textarea{
            text-align: left;
            border: none;
            border-radius:8px;
            padding: .2rem;
            display: inline-block;
        }
        
    }
    &__enviar{
        border:none;
        font-size: .8rem;
        border-radius: 20px;
        padding:.4rem 1rem;
        background-color: $color6;
        color:$color8;
    }
}
textarea{
    @extend .form;
    height:280px ;
    @include media(desktop-l){
        height: 240px;
    }
    @include media(desktop-l){
        height: 150px;
    }
    
}