.contacto{
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 3fr;
    
   &__imagen{
       height: 100%;
    }
   &__formulario{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(113deg, $color5, $color2);
    }

}
.form{
    width: 60%;
    height: 400px;
    margin:0 auto;
    // background-color: lightcoral;
    &__grupo{
        padding: 2rem 0;
        // background-color: lightseagreen;
        display:inline-block;
        width:100%;
        height: 100%;
        text-align: right;
        // @include media(desktop-l){
        //     padding: .5rem 0;
        // }
    }
    &__individual{
        display: flex;
        flex-direction: column;
        &>label,input{
            display: inline-block;
            text-align: left;
        }
    }
    textarea{
        width: 100%;
        height: 200px;
    }
}

input, textarea{
    border:2px solid $color8;
    font-family: inherit;
    padding:0.5rem 1rem;
    border-radius:8px;
    &:focus{
      outline: 0;
      border-color:rgba($color9, .8);  
    }
}

.enviar{
    display: inline-block;
    right: 0;
    background-color: $color6;
    margin-top:1rem;
    border:none; 
    color:$color8;
    padding: .5rem 1rem;
    border-radius: 20px;
}