.contacto{
    height: 720px;
    text-align: center;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 3fr;
    background-color: lightcoral;
    &__formulario{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    &__imagen{
        height: 100%;
    }
}
.form{
    width:840px;
    // height: 400px;
    // background-color: limegreen;
    &__grupo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1rem;
    }
    &__individual{
        padding:.8rem 0;
        >label, input{
            width:100%;
            height: 34px;
            text-align: left;
            border: none;
            border-radius:8px;
            padding: .2rem;
            display: block;
        }
        >textarea{
            text-align: left;
            border: none;
            border-radius:8px;
            padding: .2rem;
            display: block;
        }
        
    }
    &__enviar{
        border:none;
        font-size: .8rem;
        border-radius: 20px;
        padding:.4rem 1rem;
        background-color: $color6;
        color:$color8;
    }
}
textarea{
    width: 840px;
    height:280px ;
}