.conocimiento{
    padding: 3rem 0;
}

.caracteristicas{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    @include media(desktop-m){
        margin-left:.8rem;
    }
    @include media(desktop-s){
        margin-left:2rem;
    }
    @include media(tablet){
        margin-top:14rem;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
    }
    @include media(phone-m){
        grid-template-columns: 1fr;
    }
    &__item:nth-child(3){
        padding-left: 3.4rem;
        // border-right: 1px solid #333;
        @include media(tablet){
            padding-left: 0;
        }
    }
    &__indiv{
        margin:1.5rem 0;
    }

 }
 .text-short{
     line-height: 21px;
     columns: $color4;
 }
 .text-short-interlineado{
    padding-bottom: .4rem;
 }
 .titulo4{
     font-weight: 600;
     line-height: 28px;
 }