.datosPersonales{
    padding:2rem 0;
    // background-color: crimson;
    display: grid;
    grid-gap:0 4rem ;
    grid-template-columns:repeat(3, 1fr);
    &__info{
        display: flex;
        margin:2rem 0;
        flex-direction: column;
        justify-content: start;
        
    }
    &__indiv{
        // @extend .portafolio__text-short;
    }
   
    .titulo4{
        line-height: 1.5rem;
    }
}

