.datosPersonales{
    padding:2rem 0;
    background-color: crimson;
    display: grid;
    grid-gap:1rem;
    grid-template-rows:repeat(2,1fr);
}
.datosPersonales__item{
    display: flex;
    flex-direction: column;
}
