.experiencia{
    padding: 3rem 0 5rem 0;
    background-image: linear-gradient(118deg, $color6, $color9);
    &__grupo{
        display: grid;
        padding-top: 3.75rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3.75rem 10rem;
    }
    &__itemTrabajos{
        position: relative;
        padding-left: 2rem;
        &:before{
            content: "";
            display: block;
            height:80px;
            width: 4px;
            position: absolute;
            background-color:$color8;
            top:0;
            left: 0;
        }
    }
    &__texto{
        padding-top: 1rem;
    }
}
.titulo5{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.titulo5--color{
    color:$color8;
}
.parrafo--color{
    color:$color8;
}