.experiencia{
    padding: 2rem 0;
    background-color: $color6;
    @extend .titulo3--color;
    &__info{
        text-align: left;
        color:$color8;
    }
}
.experienciaProfesional{
    // background-color: darkgoldenrod;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:1rem 8rem;
    
}
.titulo3--color{
    color:$color8;
}
.titulo5{
    font-family: $fuente-Uno;
    font-size: 18px;
    padding-bottom: 1rem;
    font-weight: 500;
}
.titulo5--color{
    @extend .titulo3--color;
    
}
.datosPersonales__indiv--color{
    line-height:24px;
    @extend .titulo3--color;
}