.footer{
    background-color:$color8;
    padding: 3rem 0;
    
    &__redeSociales{
        margin:2rem auto;
        width: 14%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        @include media (desktop-l){
            width: 18%;
        }
        @include media (desktop-ml){
            width: 20%;
        }
        @include media (tablet){
            width: 32%;
        }
        @include media (phone-m){
            width: 60%;
        }
    }
    &__rsItem{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-image: linear-gradient(-45deg, $color5, $color2);
    }
    &__icono{
        font-size: 20px;
        color:$color8;
    }
}
.logo--footer{
    text-align: center;
}