.footer{
    padding: 2rem 0;
    background-color:$color8;
    text-align: center;
    display:grid;
    max-height: 150px;
    grid-template-rows:repeat(2, 1fr);
    &__grupoSocialMedia{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1rem;
    }
    &__item{
        width: 38px;
        height: 38px;
        line-height: 42px;
        border-radius: 50%;
        margin: 0 1rem;
        background: linear-gradient(-48deg, $color2, $color5);
    }
    &__icono{
        font-size: 1.2rem;
        color:$color8;
    }
}

