*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: $fuente-Uno;
    font-size: $size-1;
}

h1,h2,h3,h4{
    font-family: $fuente-Dos;
    padding: 0;
    color:$color3;
}
.container {
    max-width: 1000px;
    position: relative;
    /* width: 100% lo reemplaza flex:1; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
   
  }