*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: $fuente-Uno;
    font-size: $size-1;
}

h1,h2,h3,h4{
    font-family: $fuente-Dos;
    padding: 0;
    
}
.titulo1{
    font-size: 4.7rem;
    line-height: 4.5rem;
    color:$color3;
}
.container {
    max-width:1600px;
    position: relative;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

.principal{
    width: 100%;
    background-size: cover;
    height: 886px;
    // background-color: darkgoldenrod;
}
.button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    
}