*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: $fuente-Uno;
    font-size: $size-1;
}

h1,h2,h3,h4{
    font-family: $fuente-Dos;
    padding: 0;
    
}
.titulo1{
    font-size: 4.7rem;
    line-height: 4.5rem;
    color:$color3;
    font-weight: 600;
    @include media(desktop-l){
        font-size: 4rem;
        line-height: 3.8rem;
    }
    @include media(desktop-m){
        font-size: 3.5rem;
        line-height: 3.2rem;
    }
    @include media(tablet){
       font-size: 3rem;
     }
     @include media(phone-m){
        font-size: 2rem;
        line-height: 1.9rem;
     }
 }

.container {
    max-width:1600px;
    position: relative;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    @include media(desktop-l){
        max-width:1200px;
    }
    @include media(desktop-m){
        max-width:1000px;
    }
  }

.principal{
    width: 100%;
    background-size: cover;
    height: 886px;
    // background-color: darkgoldenrod;
}
.button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(desktop-l){
        width: 30px;
        height: 30px;
    }
    @include media(tablet){
        display: none;
    }
}