.habilidades{
    padding: 3rem 0;
    // background-color: maroon;
    &__grupo{
        display: grid;
        grid-template-columns:1fr 1.5fr 1fr;
        grid-gap:6rem;
    }
    @include media(desktop-l){
        grid-template-columns:repeat(3, 1fr);
        grid-gap:0;
    }
    &__item >ol>li{
        list-style: none;
    }
    &__individuales{
        padding-bottom: 2rem;
    }
}

.titulo4{
    font-size: 1.75rem;
    color:$color3;
}