.hero{
    background-image:url(../img/Hero.jpg);
    height: 570px;
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    

    &__text{
        color:$color1;
        width: 66%;
        margin-left: 1rem;
        @include media(desktop-s){
            width: 55%;
            margin-left: 2rem;
        }
        
        
    }
    &__titulo1{
        font-family:$fuente-Dos;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        @include media(desktop-s){
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
    }
    &__icono--Down{
        background-color: $color1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 34px;
        color:$color8;
        margin-bottom: 1.5rem;
        
    }
}