.hero{
    background-image:url(../img/Hero.jpg);
    height: 600px;
    background-size: cover;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: start;
    

    &__text{
        color:$color1;
        width: 66%;
        
    }
    &__titulo1{
        font-family:$fuente-Dos;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
    }
    &__icono--Down{
        background-color: $color1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 34px;
        position: absolute;
        bottom:8%;
        left:50%;
        font-size: 20px;
        color:$color8;
    }
}