.hero{
    background-image:url(../img/Hero.jpg);
    height: 570px;
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    @include media(desktop-s){
        height: 400px;
    }
    @include media(tablet){
        background-image:url(../img/hero768.png);
        height: 350px;
    }
    @include media (phone-m){
        height: 350px;

    }
    @include media(phone){
        height: 200px;
    }

    
    &__text{
        color:$color1;
        width: 66%;
        margin-left: 2.4rem;
        
        @include media(desktop-s){
            width: 55%;
            margin-left: 2rem;
        }
        @include media(tablet){
            align-self: flex-end;
            width: 70%;
            margin-bottom: 2rem;
        }
        @include media (phone-m){
            width: 100%;
            margin-bottom: .4rem;
        }
        @include media (phone){
            width: 80%;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }
        
    }
    &__titulo1{
        font-family:$fuente-Dos;
        font-size: 4rem;
        font-weight: 600;
        line-height: 4rem;
        @include media(desktop-s){
            font-size: 3.2rem;
            line-height: 3.2rem;
        }
        @include media (phone-m){
            font-size:2.8rem;
            line-height: 2.7rem;
         }
        @include media (phone){
            font-size: 1.9rem;
            line-height: 2rem;
        }
        
    }
    &__icono--Down{
        background-color: $color1;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        line-height: 34px;
        color:$color8;
        display: block;
        margin-bottom: 1.5rem;
        @include media(tablet){
            display: none;
        }
        
    }
}