.header{
    background-color:$color8;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media(tablet){
        display: block;
        height: auto;
        padding: 1em 0;
        position: inherit;
        .logo {
            text-align: left;
            margin-left: 1em;
          }
    }
   
}

.burger-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
    background-color: rgba($color6, .9);
    padding-top: 10px;
    text-align: center;
    position: fixed;
    z-index: 20;
    right:1em;
    top: 5px;
    color: white;
    @include media(tablet){
       display: block;
    
    }
}
figure{
    margin:0;
}
.container {
    max-width: 1000px;
    /* width: 100% lo reemplaza flex:1; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

  .flexbox {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .menu {
    height: inherit;
    &__lista{
        margin:0;
        padding: 0;
        list-style: none;
        display: flex;
        height: inherit;
        @include media(tablet){
            display: block;
            position: fixed;
            background-color: rgba($color8, .8);
            z-index: 10;
            top: 0;
            right:-100vw;
            width: 100vw;
            /* height: 100vh; */
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .3s;
           }
           
        }

   
    &__item{
        height: inherit;
        @include media(tablet){
            height: 88px;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        height: inherit;
        padding: 0 16px;
        text-decoration: none;
        text-transform: uppercase;
        color:$color1;
        font-size: 0.875rem;
        @include media(tablet){
            justify-content: center;
            font-size: 2em;
            text-decoration: none;
            margin-bottom: .5em;

        }
    }
    &__link:hover{
        color:$color3;
        font-weight: 500;
    }
  }

@media screen and (max-width:767px){
    .is-active{
        right: 0;
    }
}