.portafolio{
    padding:5rem 0;
    text-align: center;
    &__grupo{
        display: grid;
        grid-gap: 4rem 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}
.cajaTexto{
    // background-color: darkviolet;
    margin-bottom: 4rem;
   
}

.titulo2{
    font-size: 3rem;
    line-height: 5rem;
    font-weight: 500;
    color:$color3;
}
.titulo3{
    font-size: 2rem;
    line-height: 3.2rem;
    font-weight: 500;
    color:$color3;
}
.cajaTrabajo{
    width: 100%;
    height: 346px;
    text-align: left;
    text-decoration: none;
    &__imagen{
        width:100%;
        height: auto;
        box-shadow: 0px 2px 8px rgba($color4, .5);
    }
    &__texto{
        position: relative;
        padding-left: 1rem;
        &:before{
            content: "";
            display: block;
            height:0;
            width: 4px;
            position: absolute;
            background-color:$color3;
            top:15%;
            left: 0;
            transition: all .4s;
        }
        &:hover:before{
            height:80% ;
        }
    }
}


