.portafolio{
    text-align: center;
    padding:4rem 0;
    
    @include media(desktop-s){
        padding: 3rem 1rem;
    }
   
    &__text{
        width: 82%;
        margin:0 auto;
    }
    &__trabajos{
        margin-top:2rem;
        display: grid;
        grid-gap:1.5rem;
        grid-template-columns: repeat(3,1fr);
        // grid-template-rows: repeat(3,1fr);
        @include media(tablet){
            grid-template-columns: repeat(2,1fr);
        }
        @include media(phone-m){
            grid-template-columns: 1fr;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        width: 100%;
    }
    &__presentacion{
        text-align: left;
        padding:0.5rem 1rem;
    }
    &__img{
        width: 100%;
        box-shadow: 0px 6px 8px rgba($color4, .4);
    }
    &__text-short{
        color:$color4;
        text-align: left;
        line-height: 21px;
    }

    .boton{
        width: 100px;
        height: 40px;
        line-height: 40px;
        margin: 2rem auto;
        border-radius: 1.4rem;
        background-color:$color6;
        color:$color8;
    }

}

.titulo2{
    font-size: 2.5rem;
    line-height: 40px;
    font-weight: 500;
    @include media(desktop-s){
        font-size: 2.1rem;
    }

}
.parrafo1{
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 21px;
    color:$color4;
}

.titulo3{
    font-size: 2rem;
    font-weight: 400;
    columns: $color4;
    @include media(desktop-s){
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

