$color1:#009471;
$color2:#00B389;
$color3:#00775B;
$color4:#002019;
$color5:#5CCEB3;

$color6:#F5460C;
$color7:#fee1d7;
$color8:#ffffff;

$fuente-Uno:'Roboto', sans-serif;
$fuente-Dos:'Montserrat', sans-serif;

$size-1:16px;
