$color1:#009471;
$color2:#00B389;
$color3:#00775B;
$color4:#002019;
$color5:#5CCEB3;

$color6:#F5460C;

$color7:#ffffff;

$fuente-Uno:'Roboto', sans-serif;
$fuente-Dos:'Montserrat', sans-serif;

$size-1:16px;
$size-2:64px;
$size-3:40px;
$size-4:24px;
$size-5:14px;